@model List<MiPrimeraAplicacionWebConEntityFramework.Models.PaginaCLS>


<table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => Model[0].iidpagina)
        </th>
        <th>
            @Html.LabelFor(model => Model[0].mensaje)
        </th>
        <th>
            @Html.LabelFor(model => Model[0].accion)
        </th>
        <th>
            @Html.LabelFor(model => Model[0].controlador)
        </th>
        <th>
            Operaciones
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidpagina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.controlador)
            </td>
            <td>
                <button type="button" onclick="Editar(@item.iidpagina)" class="btn btn-primary glyphicon glyphicon-edit" data-toggle="modal" data-target="#exampleModal">
                    
                </button>
                <button type="button" onclick="Eliminar(@item.iidpagina)" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModalConfirmacion"></button>
            </td>
        </tr>
    }

</table>

