@model MiPrimeraAplicacionWebConEntityFramework.Models.ViajeCLS

@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> listaLugar = (List<SelectListItem>)ViewBag.listaLugar;
    List<SelectListItem> listaBus = (List<SelectListItem>)ViewBag.listaBus;

}

<h2>Agregar</h2>

@using (Html.BeginForm("Agregar","Viaje",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ViajeCLS</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.iidLugarOrigen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("iidLugarOrigen",listaLugar,null,new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.iidLugarOrigen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iidLugarDestino, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("iidLugarDestino",listaLugar,null,new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.iidLugarDestino, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaViaje, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaViaje, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaViaje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iidBus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("iidBus",listaBus,null,new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.iidBus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeroAsientosDisponibles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroAsientosDisponibles, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroAsientosDisponibles, "", new { @class = "text-danger" })
            </div>
        </div>

    



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Regresar", "Index", "Viaje", null, new { @class="btn btn-danger"})
            </div>
        </div>
    </div>
}


