@using MiPrimeraAplicacionWebConEntityFramework.Models
@model List<RolCLS>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidRol)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].descripcion)</td>
            <td>Operaciones</td>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iidRol</td>
                <td>@item.nombre</td>
                <td>@item.descripcion</td>
                <td>
                    <button type="button" onclick="Editar(@item.iidRol)" class="btn btn-primary glyphicon glyphicon-edit" data-toggle="modal" data-target="#exampleModal">
                        
                    </button>
                    <button type="button" onclick="Eliminar(@item.iidRol)" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModalConfirmacion">
                        
                    </button>

                </td>
            </tr>
        }

    </tbody>
</table>


