@using MiPrimeraAplicacionWebConEntityFramework.Models
@model MarcaCLS
@{
    ViewBag.Title = "Agregar";
}

<h2>Agregar</h2>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar", "Marca", FormMethod.Post,new { @id="frmAgregar"}))
        {

            <div>
                 @Html.LabelFor(p=>p.nombre)
                 @Html.TextBoxFor(p=>p.nombre, new { @class="form-control"})
                 @Html.ValidationMessage("nombre", new { @class="text-danger"})
                 @if (Model!=null && Model.mensajeError != null)
                 {
                     @Html.Label(Model.mensajeError, new { @class="text-danger"})
                 }

            </div>

            <div>
                @Html.LabelFor(p => p.descripcion)
                @Html.TextBoxFor(p => p.descripcion, new { @class = "form-control" })
                @Html.ValidationMessage("descripcion", new { @class = "text-danger" })


            </div>
            <br />
            <div style="margin:auto">
                <input type="submit" class="btn btn-primary" value="Guardar" />
                @Html.ActionLink("Regresar", "Index", "Marca", null, new { @class="btn btn-danger"})
            </div>
        }
    </div>
</div>

<script>

    var frmAgregando = document.getElementById("frmAgregar");
    frmAgregando.onsubmit = function (e) {
        e.preventDefault();
        if (confirm("¿Deseas guardas los cambios?") == 1) {
            frmAgregando.submit();

        }


    }


</script>