@using MiPrimeraAplicacionWebConEntityFramework.Models
@model List<EmpleadoCLS>
@{
    ViewBag.Title = "Index";

    List<SelectListItem> listaUsuario = (List<SelectListItem>)ViewBag.listaTipoUsuario;
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<h2>Index</h2>
@Html.ActionLink("Agregar", "Agregar", "Empleado", null, new { @class = "btn btn-primary" })

@using (Html.BeginForm("Index", "Empleado", FormMethod.Get,new { @id="frmBusqueda"})) {

@Html.Label("Ingresa el tipo de Usuario")
@Html.DropDownList("iidtipoUsuario", listaUsuario)

<table class="table table-hover table-bordered" id="tablaEmpleado">
    <thead>

        <tr>
            <td>@Html.LabelFor(p => Model[0].iidEmpleado)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].apPaterno)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoUsuario)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoContrato)</td>
            <td>Operaciones</td>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>@item.iidEmpleado</td>
                <td>@item.nombre</td>
                <td>@item.apPaterno</td>
                <td>@item.nombreTipoUsuario</td>
                <td>@item.nombreTipoContrato</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Empleado", new { id = @item.iidEmpleado }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                    <button type="button" onclick="mostrarPopup(@item.iidEmpleado)" class="glyphicon glyphicon-trash btn btn-danger" data-toggle="modal" data-target="#exampleModal">

                    </button>
                 </td>
            </tr>

        }



    </tbody>




</table>
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Dese guardar los cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="padding:1em">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-info">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Eliminar", "Empleado", FormMethod.Post,new { @id = "frmEmpleado" }))
{
    @Html.Hidden("txtIdEmpleado")
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>

    //tablaEmpleado

    $('#tablaEmpleado').DataTable();

    function mostrarPopup(idempleado) {
        document.getElementById("txtIdEmpleado").value = idempleado;
    }

    function Agregar() {
        var frmEmpleado = document.getElementById("frmEmpleado");
        frmEmpleado.submit();
    }

    var iidtipoUsuario=document.getElementById("iidtipoUsuario");
    iidtipoUsuario.onchange=function(){
        var frmBusqueda=document.getElementById("frmBusqueda");
        frmBusqueda.submit();
    }

</script>